body {
    display: flex;
    flex-direction: column;
    font-family:Roboto, sans-serif;
    margin:0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 22px;
}

ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a,.text2 {
    text-decoration: none;
    color: #e5e7eb;
    size: 18px;
}

.Logo {
    size: 24px;
    color: #F9FAF8;
    margin-left: 90px ;
    font-weight: bold;

}

.placeholder {
    height: 210px;
    width: 500px;
    background-color: aqua;
}

.holder {
    display: flex;
    justify-content: center;
    padding: 38px;
    gap: 23px;
}

.footer,.con {
    flex-direction: column;
    background-color: #1F2937;
}

.top {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.bottom {
    font-size: 18px;
    color: #e5e7eb;
}

 button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 5px 22px;
    border-radius: 6px;
}